<html>
    <head>
        <meta charset="utf-8">
        <script src="jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="default.css">
    </head>

    <body>
        <h1>Nanoweb
        </h1>

        <h2>1. File list</h2>

        <p class="alert alert-info" role="alert">
            List is updated when you upload a file.
        </p>

        <form id="list">
            <select multiple></select>

            <br>

            <input class="btn btn-primary mt-2" type="submit" name="download" value="Download">
        </form>

        <script type="module">
            import { Octokit, App } from "https://cdn.skypack.dev/octokit";
        </script>
        
        <script type="module" src="default.js"></script>
    </body>
</html>
