<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"><!--  JQUERY  -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script>
  <title></title>
</head>
<body>
  <h1>Listing /somedir</h1><!-- Custom Script (defered load, after dom ready) -->
</body>

  
<script>  
 
 async function list_directory(user, repo, directory) {
     const url = `https://api.github.com/repos/${user}/${repo}/git/trees/master`;
     directory = directory.split('/').filter(Boolean);
     const dir = await directory.reduce(async (acc, dir) => {
         const { url } = await acc;
         const list = await fetch(url).then(res => res.json());
         return list.tree.find(node => node.path === dir);
     }, { url });
     if (dir) {
         const list = await fetch(dir.url).then(res => res.json());
         return list.tree.map(node => node.path);
     }
 }

  async function get_items(path = 'examples', filter = /\.gs$/, timeout = TIMEOUT) {
     async function fetch() {
         const examples = (await list_directory('jcubic', 'gaiman', path)).filter(name => {
             return name.match(filter);
         });
         await idbKeyval.set(key, { time: timestamp, examples });
         return examples;
     }
     const key = path;
     const timestamp = +new Date();
     const data = await idbKeyval.get(key);
     if (!data) {
         return fetch();
     } else {
         let { time, examples } = data;
         if (timestamp + timeout > time) {
             return fetch();
         }
         return examples;
     }
 }

</script>
  
